body {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin: 0;
}

.h1 {
    font-weight: 700;
    color: white;
    font-size: 60px;
    text-align: center;
    margin-left: 14%;
}

.fast-section {
    display: flex;
    text-align: center;
    background-image: url(image/donation5.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.div1 {
    margin-top: 10%;
    margin-bottom: 200px;
}

.div2 {
    text-align: center;
    margin-left: 30%;
    margin-right: 19%;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
}

.donate {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    margin-left: 15%;
}

.second-section {
    text-align: center;
    margin-right: 19%;
    margin-left: 22%;
    margin-bottom: 10%;
}

.second-section p {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    color: rgba(76, 71, 71, 0.87);
}

#donate {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}

span {
    border: 2px solid rgb(255, 72, 0);
    padding: 20px 15px;
    border-radius: 4px;
    background-color: rgba(255, 72, 0, 0.219);
}

.div3 {
    width: 700;
    color: rgba(76, 71, 71, 0.87);
    text-align: center;
}

.input {
    outline: 0;
    border-width: 0 0 2px;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 20px;
}

#third-section {
    text-align: center;
    margin-bottom: 5%;
}

#third-section p {
    color: rgba(76, 71, 71, 0.87);
    margin-left: 20%;
    margin-right: 20%;
}

h3 {
    margin-top: 0%;
}

.food {
    display: flex;
    border: 2px solid white;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0%;
    margin-bottom: 120px;
}

.food p {
    font-size: 18px;
    text-align: left;
    color: rgba(76, 71, 71, 0.87);
}

#box1 {
    background-color: rgba(255, 209, 148, 0.308);
    border-radius: 5px;
    padding: 40px 15px;
    margin-right: 2%;
}

#box2 {
    background-color: #ec6a6a42;
    border-radius: 5px;
    padding: 40px 15px;
    margin-right: 2%;
}

#box3 {
    background-color: #4f9da665;
    border-radius: 5px;
    padding: 40px 15px;
    margin-right: 2%;
}

#why-donation {
    display: flex;
}

.important {
    text-align: left;
    margin-left: 5%;
    font-weight: 700;
}

.your-donation {
    text-align: justify;
    color: white;
    width: 60%;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(53, 35, 35, 0.397);
}

.donation {
    width: 50%;
    height: 80%;
    margin: 10px;
}

.donation img {
    width: 90%;
    height: 50%;
    padding-left: 5%;

}

.update {
    text-align: center;
}

.update p {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    color: rgba(76, 71, 71, 0.87);
}

#input {
    background-color: rgba(255, 209, 148, 0.719);
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Email {
    width: 50%;
    padding: 12px 12px;
    font-weight: 900;
}

button {
    border: 1px solid rgb(255, 72, 0);
    font-weight: 700;
    color: whitez;
    border-radius: 2px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(247, 71, 0);
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    margin: 0%;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}